# Machine Learning with Spark Exercise (20 points)

**Read through the entire workbook before beginning work to familiarize with what is being asked.**

In this exericise, you will work with a fairly large dataset and do some modeling and predictions using Spark Machine Learning. The dataset being used is the 2013 NYC Taxi Dataset [https://archive.org/details/nycTaxiTripData2013](https://archive.org/details/nycTaxiTripData2013). The original dataset consists of two files, `trip_data` and `trip_fare`, which need to be merged to create the dataset for modeling. 

The merge has already been performed and stored as a parquet file on S3 because there were some data issues that were not covered in class. The workbook [merge-fare-and-trip-data-create-parquet.ipynb](merge-fare-and-trip-data-create-parquet.ipynb) contains code for creating the merged set (for reference.)

This is an interactive PySpark session. Remember that when you open this notebook the SparkContext and SparkSession are already created, and they are in the sc and spark variables, respectively. You can run the following two cells to make sure that the Kernel is active.

**Do not insert any additional cells than the ones that are provided for assignment submission. You may add cells as you work through the notebook, but you need to delete extra cells and keep the initial structure.**

## Some tips you may want to use:

* You may consider saving intermediate datasets (i.e. training and testing) when you first create them. To save intermediate datasets, save them as **parquet** files in your own S3 bucket. To save, use the following code: `df.write.parquet("s3://[[your-s3-bucket]]/data_location/", mode="overwrite")`.
* You may also want to save a model object in S3 after you train it, especially if training takes a while. To save a model object, use the following code: `model.save("s3://[[your-s3-bucket]]/model_location/")`
* When creating the Machine Learning pipelines, you may want to try it first on a minuscule sample of your training data to make sure the pipelines work as planned. To create a tiny DataFrame, use the `limit` method: `df.limit(100)` (this creates a small DataFrame with the first 100 rows from df.)

In [2]:
sc

In [3]:
spark

## Import necessary libraries

The following cell will load all required libraries and functions for this exercise.

In [4]:
from pyspark.sql.functions import UserDefinedFunction
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorIndexer
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions
from pyspark.ml.classification import LogisticRegression
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.ml.feature import RFormula
import matplotlib.pyplot as plt
import numpy as np
import datetime

## Part 1 - Load the data, convert data types and create new features (5 points)

### Load the data

In the following cell, create an object called `nyctaxi` which loads the **parquet** files from `s3://bigdatateaching/nyctaxi-2013/merged-parquet/`.

This step took approximately 8 seconds during the development of the workbook using the cluster configuration in the assignment. The workbook will have spots were running times during development are written for reference as a comment in a cell. Your run times may vary, but these values will give you an indication.

In [5]:
# ~ 8 seconds
nyctaxi = spark.read.parquet("s3://bigdatateaching/nyctaxi-2013/merged-parquet/")

In the next cell print the schema of `nyctaxi`.

In [52]:
nyctaxi.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)

In the next cell, count the number of records for `nyctaxi`.

In [53]:
# ~ 12 seconds
nyctaxi.count()

173185091

In the next cell, show the first 10 records of `nyctaxi` to see what the data looks like.

In [54]:
# ~ 4 seconds
nyctaxi.show(10)

+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+-----+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|    pickup_datetime|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total|rate_code|store_and_fwd_flag|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+-----+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|00005007A9F30E289...|132A7AC13C8471488...|      CMT|2013-07-30 22:50:31|         CRD|       10.5|      0.5|    0.5|         3|           0| 14.5|        1|                 N|2013-07-30 23:01:50|              1|              679|         2.50|      -73.981644|      40.752388|       -73.982964|       40.775761|
|00005007A9F30E289...|16780B3E72BAA7A5C...|      CMT|2013-07-16 19:22:49|         CSH|        2.5|        1|    0.5|         0|           0|    4|        1|                 N|2013-07-16 19:40:47|              1|             1078|          .00|       -73.98587|      40.759899|       -73.985451|       40.747894|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-11 11:18:25|         CRD|        5.5|        0|    0.5|         1|           0|    7|        1|                 Y|2013-10-11 11:23:11|              1|              285|          .90|      -73.997002|       40.72245|       -73.986115|       40.729259|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-21 07:45:29|         CRD|        7.5|        0|    0.5|       1.1|           0|  9.1|        1|                 N|2013-10-21 07:52:41|              1|              432|         1.70|      -73.958084|      40.778934|       -73.975479|       40.760258|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-21 16:23:04|         CSH|        5.5|        1|    0.5|         0|           0|    7|        1|                 N|2013-10-21 16:28:01|              3|              297|          .90|       -73.97213|      40.793816|       -73.962753|       40.804379|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-23 06:40:22|         CRD|         10|        0|    0.5|       2.1|           0| 12.6|        1|                 N|2013-10-23 06:48:34|              1|              491|         2.80|      -73.973419|      40.784752|       -73.982384|       40.755123|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-30 09:52:19|         CRD|          6|        0|    0.5|       1.3|           0|  7.8|        1|                 N|2013-10-30 09:59:08|              1|              409|          .70|      -73.980362|      40.751549|       -73.985512|       40.743267|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-30 14:32:32|         CSH|        7.5|        0|    0.5|         0|           0|    8|        1|                 N|2013-10-30 14:41:54|              1|              561|          .90|       -73.98616|      40.755646|       -73.969231|       40.761013|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-07 07:40:09|         CSH|        2.5|        0|    0.5|         0|           0|    3|        1|                 N|2013-11-07 07:45:16|              1|              307|          .00|      -73.956886|       40.77837|       -73.970078|       40.764481|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-07 10:26:14|         CRD|          8|        0|    0.5|         1|           0|  9.5|        1|                 N|2013-11-07 10:37:14|              1|              660|         1.00|       -74.00441|      40.752228|       -73.992271|       40.755032|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+-----+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
only showing top 10 rows

### Convert data types

As you can see from printing the `nyctaxi` schema, all of the fields were loaded as strings. This will not work for modeling purposes. You need to convert some of the fields to other types. In the following cell, create a new DataFrame called `nyctaxi_converted` and use the `withColumn` method to do the following conversions:

 Field Name | Type
------------|-----
trip_time_in_secs | integer
trip_distance | float
pickup_latitude | float
pickup_longitude | float
dropoff_latitude | float
dropoff_longitude | float
fare_amount | float
surcharge | float
mta_tax | float
tip_amount | float
tolls_amount | float
total | float
pickup_datetime | timestamp
dropoff_datetime | timestamp

In [77]:
colname_float = ["trip_distance","pickup_latitude","pickup_longitude","dropoff_latitude","dropoff_longitude","fare_amount","surcharge","mta_tax","tip_amount","tolls_amount","total"]
colname_timestamp = ["pickup_datetime","dropoff_datetime"]

nyctaxi_converted = nyctaxi.withColumn("passenger_count", nyctaxi["passenger_count"].cast("integer"))
nyctaxi_converted = nyctaxi_converted.withColumn("trip_time_in_secs", nyctaxi["trip_time_in_secs"].cast("integer"))


for i in colname_float:
    nyctaxi_converted = nyctaxi_converted.withColumn(i, nyctaxi[i].cast("float"))
    
for i in colname_timestamp:
    nyctaxi_converted = nyctaxi_converted.withColumn(i, nyctaxi[i].cast("timestamp"))

nyctaxi_converted.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)

### Add new features

You will add a few new fields with data derived from current fields as new features.

In the following cell, add the following columns to `nyctaxi_converted` using the `withColumn` method:

* A column called `pickup_hour` with the hour from `pickup_datetime`. This provides an integer from 0 to 23.
* A column called `pickup_week` with the week of the year from `pickup_datetime`. This provides an integer from 1 to 53.
* A column called `weekday` with the name of the day of the week ffrom `pickup_datetime`, in long format.
* A column called `tipped` which is an indicator of wether or not there was a tip. If the tip is 0, then it's 0, otherwise 1.

In [80]:
nyctaxi_converted = nyctaxi_converted.withColumn("trip_time_in_secs", nyctaxi_converted["trip_time_in_secs"].cast("float"))
nyctaxi_converted = nyctaxi_converted.withColumn("pickup_hour", hour(nyctaxi_converted.pickup_datetime))
nyctaxi_converted = nyctaxi_converted.withColumn("pickup_week", weekofyear(nyctaxi_converted.pickup_datetime))
nyctaxi_converted = nyctaxi_converted.withColumn("weekday", date_format("pickup_datetime", "EEEE"))  
nyctaxi_converted = nyctaxi_converted.withColumn("tipped", when(nyctaxi_converted["tip_amount"] == 0, 0).otherwise(1))

nyctaxi_converted.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_week: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- tipped: integer (nullable = false)

For the creation of the next feature, you will use a SparkSQL statement. Therefore, you need to register your DataFrame. In the next cell, register the `nyctaxi_converted` DataFrame as `nyctaxi_converted_tbl.`

In [81]:
nyctaxi_converted.createOrReplaceTempView("nyctaxi_converted_tbl")

In the next cell, you will add a new column called `time_bins` that takes the value of `pickup_hour` and buckets it according to the following rules. You must assign the SQL statement back to `nyctaxi_converted`:

* If the value of the pickup hour is at-or-before 6am, or at-or-after 8pm, then the value is "night"
* If the value of the pickup hour is between 7am and 10am (inclusive), then the value is "am_rush"
* If the value of the pickup hour is between 11am and 3pm (inclusive), then the value is "afternoon"
* If the value of the pickup hour is between 4pm and 7pm (inclusive), then the value is "pm_rush"

In [82]:
from pyspark.sql.functions import col,when
                                             
nyctaxi_converted = spark.sql("""SELECT *, CASE WHEN pickup_hour <= 6 OR pickup_hour >= 20 THEN 'night' 
                WHEN pickup_hour BETWEEN 7 AND 10 THEN 'am_rush'
                WHEN pickup_hour BETWEEN 11 AND 15 THEN 'afternoon'
                WHEN pickup_hour BETWEEN 16 AND 19 THEN 'pm_rush'
                end as time_bins
                FROM nyctaxi_converted_tbl""")

#nyctaxi_converted = nyctaxi_converted.withColumn("trip_time_in_secs", nyctaxi["trip_time_in_secs"].cast("float"))

In the next cell, print the schema of your `nyctaxi_converted` DataFrame and make sure it compares to the results below. Field order is not important.

```
root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_week: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- tipped: integer (nullable = false)
 |-- time_bins: string (nullable = true)
```

In [83]:
nyctaxi_converted.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_week: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- tipped: integer (nullable = false)
 |-- time_bins: string (nullable = true)

In the next cell, show the first 10 rows of `nyctaxi_converted` to see if your new fields are correct.

In [84]:
# ~ 12 seconds
nyctaxi_converted.take(10)

[Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'132A7AC13C8471488DC8D880EA793AE2', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 7, 30, 22, 50, 31), payment_type=u'CRD', fare_amount=10.5, surcharge=0.5, mta_tax=0.5, tip_amount=3.0, tolls_amount=0.0, total=14.5, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 7, 30, 23, 1, 50), passenger_count=1, trip_time_in_secs=679.0, trip_distance=2.5, pickup_longitude=-73.98164367675781, pickup_latitude=40.75238800048828, dropoff_longitude=-73.98296356201172, dropoff_latitude=40.775760650634766, pickup_hour=22, pickup_week=31, weekday=u'Tuesday', tipped=1, time_bins=u'night'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'16780B3E72BAA7A5C152C197919DCA0E', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 7, 16, 19, 22, 49), payment_type=u'CSH', fare_amount=2.5, surcharge=1.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, total=4.0, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 7, 16, 19, 40, 47), passenger_count=1, trip_time_in_secs=1078.0, trip_distance=0.0, pickup_longitude=-73.98587036132812, pickup_latitude=40.7598991394043, dropoff_longitude=-73.9854507446289, dropoff_latitude=40.747894287109375, pickup_hour=19, pickup_week=29, weekday=u'Tuesday', tipped=0, time_bins=u'pm_rush'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 10, 11, 11, 18, 25), payment_type=u'CRD', fare_amount=5.5, surcharge=0.0, mta_tax=0.5, tip_amount=1.0, tolls_amount=0.0, total=7.0, rate_code=u'1', store_and_fwd_flag=u'Y', dropoff_datetime=datetime.datetime(2013, 10, 11, 11, 23, 11), passenger_count=1, trip_time_in_secs=285.0, trip_distance=0.8999999761581421, pickup_longitude=-73.99700164794922, pickup_latitude=40.722450256347656, dropoff_longitude=-73.98611450195312, dropoff_latitude=40.7292594909668, pickup_hour=11, pickup_week=41, weekday=u'Friday', tipped=1, time_bins=u'afternoon'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 10, 21, 7, 45, 29), payment_type=u'CRD', fare_amount=7.5, surcharge=0.0, mta_tax=0.5, tip_amount=1.100000023841858, tolls_amount=0.0, total=9.100000381469727, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 10, 21, 7, 52, 41), passenger_count=1, trip_time_in_secs=432.0, trip_distance=1.7000000476837158, pickup_longitude=-73.95808410644531, pickup_latitude=40.778934478759766, dropoff_longitude=-73.97547912597656, dropoff_latitude=40.760257720947266, pickup_hour=7, pickup_week=43, weekday=u'Monday', tipped=1, time_bins=u'am_rush'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 10, 21, 16, 23, 4), payment_type=u'CSH', fare_amount=5.5, surcharge=1.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, total=7.0, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 10, 21, 16, 28, 1), passenger_count=3, trip_time_in_secs=297.0, trip_distance=0.8999999761581421, pickup_longitude=-73.97212982177734, pickup_latitude=40.79381561279297, dropoff_longitude=-73.96275329589844, dropoff_latitude=40.804378509521484, pickup_hour=16, pickup_week=43, weekday=u'Monday', tipped=0, time_bins=u'pm_rush'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 10, 23, 6, 40, 22), payment_type=u'CRD', fare_amount=10.0, surcharge=0.0, mta_tax=0.5, tip_amount=2.0999999046325684, tolls_amount=0.0, total=12.600000381469727, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 10, 23, 6, 48, 34), passenger_count=1, trip_time_in_secs=491.0, trip_distance=2.799999952316284, pickup_longitude=-73.97341918945312, pickup_latitude=40.784751892089844, dropoff_longitude=-73.98238372802734, dropoff_latitude=40.755123138427734, pickup_hour=6, pickup_week=43, weekday=u'Wednesday', tipped=1, time_bins=u'night'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 10, 30, 9, 52, 19), payment_type=u'CRD', fare_amount=6.0, surcharge=0.0, mta_tax=0.5, tip_amount=1.2999999523162842, tolls_amount=0.0, total=7.800000190734863, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 10, 30, 9, 59, 8), passenger_count=1, trip_time_in_secs=409.0, trip_distance=0.699999988079071, pickup_longitude=-73.98036193847656, pickup_latitude=40.751548767089844, dropoff_longitude=-73.98551177978516, dropoff_latitude=40.74326705932617, pickup_hour=9, pickup_week=44, weekday=u'Wednesday', tipped=1, time_bins=u'am_rush'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 10, 30, 14, 32, 32), payment_type=u'CSH', fare_amount=7.5, surcharge=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, total=8.0, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 10, 30, 14, 41, 54), passenger_count=1, trip_time_in_secs=561.0, trip_distance=0.8999999761581421, pickup_longitude=-73.98616027832031, pickup_latitude=40.755645751953125, dropoff_longitude=-73.96923065185547, dropoff_latitude=40.76101303100586, pickup_hour=14, pickup_week=44, weekday=u'Wednesday', tipped=0, time_bins=u'afternoon'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 11, 7, 7, 40, 9), payment_type=u'CSH', fare_amount=2.5, surcharge=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, total=3.0, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 11, 7, 7, 45, 16), passenger_count=1, trip_time_in_secs=307.0, trip_distance=0.0, pickup_longitude=-73.9568862915039, pickup_latitude=40.77836990356445, dropoff_longitude=-73.97007751464844, dropoff_latitude=40.76448059082031, pickup_hour=7, pickup_week=45, weekday=u'Thursday', tipped=0, time_bins=u'am_rush'),
 Row(medallion=u'00005007A9F30E289E760362F69E4EAD', hack_license=u'24C122A944FB8EE21D570C7067400D6F', vendor_id=u'CMT', pickup_datetime=datetime.datetime(2013, 11, 7, 10, 26, 14), payment_type=u'CRD', fare_amount=8.0, surcharge=0.0, mta_tax=0.5, tip_amount=1.0, tolls_amount=0.0, total=9.5, rate_code=u'1', store_and_fwd_flag=u'N', dropoff_datetime=datetime.datetime(2013, 11, 7, 10, 37, 14), passenger_count=1, trip_time_in_secs=660.0, trip_distance=1.0, pickup_longitude=-74.00440979003906, pickup_latitude=40.752227783203125, dropoff_longitude=-73.99227142333984, dropoff_latitude=40.75503158569336, pickup_hour=10, pickup_week=45, weekday=u'Thursday', tipped=1, time_bins=u'am_rush')]

## Part 2 - Drop unused variables and filter data for clean trips (5 points)

In the following cell, create a new DataFrame called `valid_trips` with the following structure. You are welcome to use DataFrame methods or SparkSQL for this.

* Keep only these fields: time_bins, tipped, weekday, pickup_week, pickup_hour, trip_distance, trip_time_in_secs, passenger_count, rate_code, total, tip_amount, fare_amount, payment_type, vendor_id
* Filter records on the following criteria:
  * Passenger count is greater than 0 and less than 8
  * Payment type is cash (CSH) or credit card (CRD)
  * Tip amount is 0 or more, but less than 30
  * Fare amount is between \\$1 or more, and less than \\$150
  * Trip distance is less than 100 miles, but more than 0
  * The time of the trip is 30 seconds or more, and less than 2 hours

In [135]:
nyctaxi_converted.createOrReplaceTempView("nyctaxi_converted_tbl")
valid_trips = spark.sql("""SELECT vendor_id, payment_type, fare_amount, tip_amount, total, rate_code, passenger_count, trip_time_in_secs, trip_distance, pickup_hour, pickup_week, weekday, tipped, time_bins
                FROM nyctaxi_converted_tbl
                WHERE passenger_count > 0 
                AND passenger_count < 8
                AND (payment_type == 'CSH' OR payment_type == 'CRD')
                AND tip_amount >= 0
                AND tip_amount < 30
                AND (fare_amount >= 1 AND fare_amount < 150)
                AND trip_distance < 100 AND trip_distance > 0
                AND trip_time_in_secs < 7200 AND trip_time_in_secs >= 30
                """)

In the following cell, print the schema of the `valid_trips` DataFrame and compare to this:

```
root
 |-- vendor_id: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_week: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- tipped: integer (nullable = false)
 |-- time_bins: string (nullable = true)
```

In [136]:
valid_trips.printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_week: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- tipped: integer (nullable = false)
 |-- time_bins: string (nullable = true)

In the following cell, count the number of records for `valid_trips`.

In [137]:
# ~ 48 seconds
valid_trips.count()

171182914

In the following cell, calculate the number of records that were dropped with the filter applied.

In [138]:
nyctaxi.count() - valid_trips.count()

2002177

## Part 3 - Feature transformation and data preparation for modeling (7 points)

In this section, you will convert the categorical variables `vendor_id`, `rate_code`, `payment_type`, and `time_bins` to features that can be used in the model. You need to use the `StringIndexer` function on each of the categorical variables to convert the raw text into indices, and then for each set of indices you need to use the `OneHotEncoder` function to convert the index to a vector of dummy variables.

In the next 8 cells, create four `StringIndexer` objects named `si_1` through `si_4`, and four `OneHotEncoder` objects named `en_1` through `en_4` for each of the categorical variables. Each `en_` must use as input, the output from the `si_`. The four output columns for `en_` must be named `vendor_vec`, `rate_vec`, `payment_vec`, `time_bins_vec`.

Make sure that you use the parameter `dropLast=False` for `OneHotEncoder`, and that the `en_` and `si_` of the same number are used on the same variable.

We talked about transformers and estimators in class. Refer to the book for additional information. As a brief summary:
* Transformers: take data in, and produce new data
* Estimators: take data in and produce a transformer

In [139]:
si_1 = StringIndexer(inputCol="vendor_id", outputCol = "vendorIndex")

In [140]:
en_1 = OneHotEncoder(inputCol="vendorIndex", outputCol = "vendor_vec", dropLast=False)

In [141]:
si_2 = StringIndexer(inputCol="rate_code", outputCol = "rateIndex")

In [142]:
en_2 = OneHotEncoder(inputCol="rateIndex", outputCol = "rate_vec", dropLast=False)

In [143]:
si_3 = StringIndexer(inputCol="payment_type", outputCol = "payment_typeIndex")

In [144]:
en_3 = OneHotEncoder(inputCol="payment_typeIndex", outputCol = "payment_vec", dropLast=False)

In [145]:
si_4 = StringIndexer(inputCol="time_bins", outputCol = "binsIndex")

In [146]:
en_4 = OneHotEncoder(inputCol="binsIndex", outputCol = "time_bins_vec", dropLast=False)

In the following cell, build a pipeline called `encoded_final` where you will run the stages in the following order: si_1, en_1, si_2, en_2, etc. You need to run a fit method and a transform method on the `vaild_trips` DataFrame in order to get the desired results.

In [147]:
# ~ 8 min
encoded_final0  =  Pipeline(stages=[si_1, en_1, si_2, en_2,si_3, en_3, si_4, en_4]).fit(valid_trips)
encoded_final = encoded_final0.transform(valid_trips)

In the following cell, show the first 10 rows of `encoded_final`.

In [148]:
# ~ 30 sec
encoded_final.show()

+---------+------------+-----------+----------+-----+---------+---------------+-----------------+-------------+-----------+-----------+---------+------+---------+-----------+-------------+---------+--------------+-----------------+-------------+---------+-------------+
|vendor_id|payment_type|fare_amount|tip_amount|total|rate_code|passenger_count|trip_time_in_secs|trip_distance|pickup_hour|pickup_week|  weekday|tipped|time_bins|vendorIndex|   vendor_vec|rateIndex|      rate_vec|payment_typeIndex|  payment_vec|binsIndex|time_bins_vec|
+---------+------------+-----------+----------+-----+---------+---------------+-----------------+-------------+-----------+-----------+---------+------+---------+-----------+-------------+---------+--------------+-----------------+-------------+---------+-------------+
|      CMT|         CRD|       10.5|       3.0| 14.5|        1|              1|            679.0|          2.5|         22|         31|  Tuesday|     1|    night|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      0.0|(4,[0],[1.0])|
|      CMT|         CRD|        5.5|       1.0|  7.0|        1|              1|            285.0|          0.9|         11|         41|   Friday|     1|afternoon|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      1.0|(4,[1],[1.0])|
|      CMT|         CRD|        7.5|       1.1|  9.1|        1|              1|            432.0|          1.7|          7|         43|   Monday|     1|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CSH|        5.5|       0.0|  7.0|        1|              3|            297.0|          0.9|         16|         43|   Monday|     0|  pm_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      2.0|(4,[2],[1.0])|
|      CMT|         CRD|       10.0|       2.1| 12.6|        1|              1|            491.0|          2.8|          6|         43|Wednesday|     1|    night|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      0.0|(4,[0],[1.0])|
|      CMT|         CRD|        6.0|       1.3|  7.8|        1|              1|            409.0|          0.7|          9|         44|Wednesday|     1|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CSH|        7.5|       0.0|  8.0|        1|              1|            561.0|          0.9|         14|         44|Wednesday|     0|afternoon|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      1.0|(4,[1],[1.0])|
|      CMT|         CRD|        8.0|       1.0|  9.5|        1|              1|            660.0|          1.0|         10|         45| Thursday|     1|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CRD|        4.5|       1.0|  6.0|        1|              1|            248.0|          0.6|         14|         50| Thursday|     1|afternoon|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      1.0|(4,[1],[1.0])|
|      CMT|         CSH|       11.0|       0.0| 11.5|        1|              2|            716.0|          2.4|          9|         51|Wednesday|     0|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CRD|        7.5|      1.08| 9.08|        1|              1|            579.0|          1.1|         10|         52|   Monday|     1|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CRD|       33.5|      8.75|43.75|        1|              1|           2561.0|          9.3|         16|          4|  Tuesday|     1|  pm_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      2.0|(4,[2],[1.0])|
|      CMT|         CSH|        3.5|       0.0|  4.5|        1|              1|            120.0|          0.4|         20|         35|  Tuesday|     0|    night|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      0.0|(4,[0],[1.0])|
|      CMT|         CRD|        5.5|       1.8|  7.8|        1|              1|            303.0|          0.9|          8|          1|   Friday|     1|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CSH|       71.0|       0.0| 81.7|        3|              1|           2528.0|         18.1|         14|          1|   Friday|     0|afternoon|        1.0|(2,[1],[1.0])|      2.0|(20,[2],[1.0])|              1.0|(2,[1],[1.0])|      1.0|(4,[1],[1.0])|
|      CMT|         CSH|       15.0|       0.0| 16.5|        1|              2|           1122.0|          3.4|         16|          4| Thursday|     0|  pm_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      2.0|(4,[2],[1.0])|
|      CMT|         CSH|       22.0|       0.0| 22.5|        1|              1|           1792.0|          4.6|          9|          6| Thursday|     0|  am_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      3.0|(4,[3],[1.0])|
|      CMT|         CRD|        8.0|       0.0|  9.5|        1|              1|            555.0|          1.3|         16|          8|   Friday|     0|  pm_rush|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      2.0|(4,[2],[1.0])|
|      CMT|         CRD|       10.0|       1.5| 12.0|        1|              1|            715.0|          2.0|          6|          9| Thursday|     1|    night|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              0.0|(2,[0],[1.0])|      0.0|(4,[0],[1.0])|
|      CMT|         CSH|        7.0|       0.0|  7.5|        1|              1|            521.0|          0.7|         12|          9| Thursday|     0|afternoon|        1.0|(2,[1],[1.0])|      0.0|(20,[0],[1.0])|              1.0|(2,[1],[1.0])|      1.0|(4,[1],[1.0])|
+---------+------------+-----------+----------+-----+---------+---------------+-----------------+-------------+-----------+-----------+---------+------+---------+-----------+-------------+---------+--------------+-----------------+-------------+---------+-------------+
only showing top 20 rows

In the following cell, split `encoded_final` into `train` and `test` using 90% train, 10% test and a seed of 12345. **You must use the specified seed for reproducibility.**

In [149]:
splitted_data = encoded_final.randomSplit([0.9, 0.1], 12345)
train = splitted_data[0]
test = splitted_data[1]

In the next cell, cache the `train` DataFrame.

In [150]:
train.cache()

DataFrame[vendor_id: string, payment_type: string, fare_amount: float, tip_amount: float, total: float, rate_code: string, passenger_count: int, trip_time_in_secs: float, trip_distance: float, pickup_hour: int, pickup_week: int, weekday: string, tipped: int, time_bins: string, vendorIndex: double, vendor_vec: vector, rateIndex: double, rate_vec: vector, payment_typeIndex: double, payment_vec: vector, binsIndex: double, time_bins_vec: vector]

In the next cell, cache the `test` DataFrame.

In [151]:
test.cache()

DataFrame[vendor_id: string, payment_type: string, fare_amount: float, tip_amount: float, total: float, rate_code: string, passenger_count: int, trip_time_in_secs: float, trip_distance: float, pickup_hour: int, pickup_week: int, weekday: string, tipped: int, time_bins: string, vendorIndex: double, vendor_vec: vector, rateIndex: double, rate_vec: vector, payment_typeIndex: double, payment_vec: vector, binsIndex: double, time_bins_vec: vector]

Count the number of records in the `train` DataFrame.

In [152]:
# ~ 10 min - this takes time because you are actually loading the train dataset into memory as you count. 
train.count()

154064279

## Part 4 - Build a Logistic Regression Model to predict tipping. (3 points)

In this section, you will train a Logistic Regression model to predict wether or not there was a tip for each ride using the training data created in the previous section. You will build pipelines using both transformers and estimators.

In the next cell, create a `LogisticRegression` estimator called `log_reg` with the following parameters: `maxIter = 10, regParam = 0.3, eslaticNetParam = 0.8`.

In [156]:
log_reg = LogisticRegression(maxIter = 10, regParam = 0.3, elasticNetParam = 0.8)

The Logistic Regression model you will be fitting is predicting `tipped` as a function of:
* Pickup hour
* Passenger count
* Trip time
* Trip distance
* Fare amount
* Vendor id
* Payment type
* Rate code
* Time bins

Remember, you can't use the raw categorical data, you need to use something else for the categorical variables.

In the next cell, create an object called `class_formula` and build a formula for the regression based on the previous instructions.

In [161]:
from pyspark.ml.feature import RFormula
class_formula = RFormula(formula="tipped ~ pickup_hour+passenger_count+trip_time_in_secs+trip_distance+fare_amount+vendor_vec+payment_vec+rate_vec+time_bins_vec")

In the next cell, create a PipelineModel object called model, with the stages of `class_formula` and `log_reg`, in that order. Run the fit method on the `train` DataFrame. This creates a transformer.

In [163]:
model = Pipeline(stages=[class_formula, log_reg]).fit(train)

In the next cell, create a `predictions` DataFrame by taking the model produced in the previous cell and running the `transform` method on the `test` data.

In [165]:
predictions = model.transform(test)
predictions.printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- total: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_week: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- tipped: integer (nullable = false)
 |-- time_bins: string (nullable = true)
 |-- vendorIndex: double (nullable = true)
 |-- vendor_vec: vector (nullable = true)
 |-- rateIndex: double (nullable = true)
 |-- rate_vec: vector (nullable = true)
 |-- payment_typeIndex: double (nullable = true)
 |-- payment_vec: vector (nullable = true)
 |-- binsIndex: double (nullable = true)
 |-- time_bins_vec: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- label: double (nullable = false)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = true)

In the next cell, create an object called `predictions_and_labels` which takes the `label` and `prediction` columns from the `predictions` DataFrame and converts it to an RDD.

In [168]:
predictions_and_labels = predictions[["label","prediction"]].rdd
predictions_and_labels.take(5)

[Row(label=0.0, prediction=1.0),
 Row(label=0.0, prediction=1.0),
 Row(label=1.0, prediction=1.0),
 Row(label=1.0, prediction=1.0),
 Row(label=1.0, prediction=1.0)]

In the next cell, create an evaluator called metrics, and use the `BinaryClassificationMetrics` evaluator on the `predictions_and_labels` object.

In [169]:
metrics = BinaryClassificationMetrics(predictions_and_labels)

In this last step, the code is there for you to run. The next cell calculates the Area Under the Curve for the ROC curve generated by the model.

In [170]:
# ~13 min
print("Area under ROC = %s" % metrics.areaUnderROC)

Area under ROC = 0.985008679066

What do you think of the result of the Area under ROC?

A: From the accuracy score we can see that, the model performs really well. The area under the curve(AUC) is close to 1. The shape of the ROC curve will hover around the upper-left corner of the coordinate.

### Extra Credit (5 points)

For extra credit, take the `label` and `probability` columns from the `predictions` DataFrame and create a Pandas DataFrame (local to the master node), and plot a ROC curve.

In the following cell, make a local Pandas DataFrame from `predictions`. **Hint:** you may want to randomly sample about 20% of the results, not use the entire `predictions`.

In [ ]:
import pandas

In the following cell, use `matplotlib` and `scikit-learn` to plot the ROC curve.

## (For Reference) Load a saved pipeline model and evaluate it on a data set

If you did save a model as suggested in the beginning of the workbook, you can load it again.

In [ ]:
from pyspark.ml import PipelineModel

saved_model = PipelineModel.load("s3://[[your-s3-bucket]]/model_location/")
test = spark.read.parquet("s3://[[your-s3-bucket]]/data_location/")

predictions = saved_model.transform(test)
prediction_and_labels = predictions.select("label","prediction").rdd

metrics = BinaryClassificationMetrics(prediction_and_labels)
print("Area under ROC = %s" % metrics.areaUnderROC)